@font-face {
   font-family: 'SegoeUI';
   src: url('../fonts/SegoeUI.eot');
   src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI.woff') format('woff'),
       url('../fonts/SegoeUI.ttf') format('truetype'),
       url('../fonts/SegoeUI.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
   font-family: 'SegoeUI-Light';
   src: url('../fonts/SegoeUI-Light.eot');
   src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Light';
  src: url('../fonts/SegoeUI-Light.woff') format('woff'),
       url('../fonts/SegoeUI-Light.ttf') format('truetype'),
       url('../fonts/SegoeUI-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
   font-family: 'SegoeUI-Bold';
   src: url('../fonts/SegoeUI-Bold.eot');
   src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Bold';
  src: url('../fonts/SegoeUI-Bold.woff') format('woff'),
       url('../fonts/SegoeUI-Bold.ttf') format('truetype'),
       url('../fonts/SegoeUI-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
    padding:0;
    margin:0;
    width:100%;
    overflow-x:hidden;
}

div.menu-bar {
    top: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    direction:ltr;
    display: flex;
    text-align: center;
    background-color: #fff;
    position: fixed;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

div.title-menu-bar {
    width: 110px;
    height: 40px;
    margin: 10px;
    flex-basis: 110px;
    display: flex;
}

div.title-menu-bar:hover {
    cursor: pointer;
}

div.logo-menu-bar {
    width: 40px;
    height: 40px;
    background-image: url("../img/GapitaLogo.png");
    background-size: 40px 40px;
}

p.text-menu-bar {
    width: 50px;
    font-family: 'SegoeUI';
    font-size:15pt;
    font-weight:normal;
    text-align:left;
    vertical-align: top;
    line-height: 40px;
    margin: 0px 0px 0px 10px;
    color:  #e78701;
}

div.items-menu-bar {
    width: auto;
    flex: 1;
    display: flex;
    text-align: center;
    height: 60px;
    margin: 0px 0px 0px 40px;
}

div.items-menu-bar-button {
    width: auto;
    height: 50px;
    margin-left: 20px;
    padding-top: 10px;
    border-color: #fe9400;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

div.items-menu-bar-button:hover {
    height: 47px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    cursor: pointer;
}

p.text-menu-bar-button {
    width: auto;
    font-family: 'SegoeUI';
    font-size: 10pt;
    font-weight:bold;
    text-align:left;
    vertical-align: top;
    line-height: 40px;
    margin: 0px;
    color:  #000;
}

div.online-users-menu-bar {
    width: auto;
    height: 40px;
    margin: 10px;
    flex-basis: auto;
    display: flex;
}

div.online-users-logo {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fe9400;
    border-radius: 100px;
}

p.text-menu-bar-online {
    width: auto;
    font-family: 'SegoeUI';
    font-size:11pt;
    font-weight:normal;
    text-align:left;
    vertical-align: top;
    line-height: 40px;
    margin: 0px 0px 0px 10px;
    color:  #000;
}

div.more-menu-bar-button {
    width: auto;
    height: 50px;
    flex-basis: auto;
    margin-right: 10px;
    padding-top: 10px;
    border-color: #fe9400;
    display: none;
    justify-content: center;
    transition: 0.3s;
}

div.more-menu-bar-button:hover {
    height: 47px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    cursor: pointer;
}

p.text-menu-bar-more {
    width: auto;
    font-family: 'SegoeUI';
    font-size: 10pt;
    font-weight:bold;
    text-align:left;
    vertical-align: top;
    line-height: 40px;
    margin: 0px;
    color:  #000;
}

div.items-more-menu-button, div.more-menu-online, p.text-more-menu-button, p.text-more-menu-online {
    display: none;
}

@media screen and (max-width: 930px) {
    p.text-menu-bar-button {
        display: none;
    }
}

@media screen and (max-width: 650px) {
     div.more-menu {
        top: -300px;
        right: 10px;
        position: fixed;
        background-color: white;
        float: right;
        width: 230px;
        height: 300px;
        opacity: 0;
        text-align: center;
        border-radius: 7px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        overflow-y: auto;
        max-height: calc(100vh - 70px);
    }
    
    div.items-more-menu-button {
        width: auto;
        height: 50px;
        margin: 0px 20px 0px 20px;
        padding-top: 10px;
        border-color: #fe9400;
        display: flex;
        justify-content: left;
        transition: 0.3s;
    }
    
    div.items-more-menu-button:hover {
        height: 47px;
        border-style: solid;
        border-width: 0px 0px 3px 0px;
        cursor: pointer;
    }
    
    div.more-menu-online {
        width: auto;
        height: 47px;
        margin: 0px 20px 0px 20px;
        padding-top: 10px;
        display: flex;
        justify-content: left;
        border-style: solid;
        border-width: 1px 0px 0px 0px;
        border-color: #818181;
    }
    
    p.text-more-menu-button {
        width: auto;
        font-family: 'SegoeUI';
        font-size: 10pt;
        font-weight:bold;
        text-align:left;
        vertical-align: top;
        line-height: 40px;
        margin: 0px;
        display: initial;
        color:  #000;
    }
    
    p.text-more-menu-online {
        width: auto;
        font-family: 'SegoeUI-Light';
        font-size: 11pt;
        font-weight:lighter;
        text-align:left;
        vertical-align: top;
        line-height: 40px;
        margin: 0px;
        display: initial;
        color:  #000;
    }

    div.items-menu-bar-button, div.online-users-menu-bar {
        display: none;
    }

    div.more-menu-bar-button {
        display: flex;
    }
}

div.header {
    margin-top: 60px;
    position: relative;
    background:#f3f4ef;
    width:100%;
    height:500px;
    overflow: hidden;
}

div.start {
    width: 100%;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.logo-start {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/GapitaLogo.png");
    background-size: 150px 150px;
}

h1.header-main-text {
    font-family: 'SegoeUI-Light';
    font-size:28pt;
    font-weight:lighter;
    text-align:center;
    margin:20px 20px 0px 20px;
    color: black;
}

h2.header-sub-text {
    font-family: 'SegoeUI';
    font-size:14pt;
    font-weight:lighter;
    text-align:center;
    margin:5px 20px 0px 20px;
    color: #818181;
}

button.button-round-box {
    background-color: #fe9400;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-family: 'SegoeUI';
    font-size:14pt;
    font-weight:normal;
    border-radius: 25px;
    padding: 8px 50px;
    cursor: pointer;
    transition: background 0.8s;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #fea72e radial-gradient(circle, transparent 1%, #fea72e 1%) center/15000%;
}

.ripple:active {
  background-color: #fe9400;
  background-size: 100%;
  transition: background 0s;
}

h1.header-text {
    font-family: 'SegoeUI-Bold';
    font-size:22pt;
    font-weight:bold;
    text-align:center;
    margin:20px 20px 0px 20px;
    color: black;
}

div.content {
    margin-top: 25px;
    position: relative;
    width:100%;
    overflow: hidden;
}

div.side-by-side-parent {
    display:block;
    text-align: center;
}

div.what-is-image {
    display:inline-block;
    vertical-align:middle;
    width:400px;
    height: 313px;
    background-image: url("../img/GapitaSocialNetwork.png");
    background-size: 400px 313px;
}

div.what-is-text {
    display:inline-block;
    vertical-align:middle;
    width:400px;
    font-family: 'SegoeUI';
    font-size:25pt;
    font-weight:normal;
}

p.normal-text {
    font-family: 'SegoeUI';
    font-size:13pt;
    font-weight:normal;
    text-align:justify;
    padding: 20px;
    margin: 0px;
    color: black;
}

div.features {
    display:inline-block;
    vertical-align:top;
    width:400px;
    font-family: 'SegoeUI';
    font-size:25pt;
    font-weight:normal;
}

div.features-logo {
    width: 80px;
    height: 80px;
    margin: 20px auto 20px auto;
    background-color: #fe9400;
    border-radius: 100px;
}

p.feature-header-text {
    text-align:center;
    font-family: 'SegoeUI-Bold';
    font-size:15pt;
    font-weight:bold;
    line-height:2;
    margin-top:5px;
    margin-bottom:0px;
}

@media screen and (max-width: 420px) {
    div.what-is-image {
        width:300px;
        height: 234px;

        background-size: 300px 234px;
    }

    div.what-is-text, div.features {
        width: 100%;
    }
}

div.footer {
    width: 100%;
    height: auto;
    background-color: #f3f4ef;
}

p.footer-text {
    font-family: 'SegoeUI';
    font-size:12pt;
    font-weight:normal;
    text-align: center;
    padding: 20px 10px 0px 10px;
    margin: 0px;
    color: black;
}

p.footer-policy-text {
    font-family: 'SegoeUI-Light';
    font-size:11pt;
    font-weight:lighter;
    text-align: center;
    padding: 10px 10px 20px 10px;
    margin: 0px;
    color: #818181;
}

div.chat-bar {
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    direction:ltr;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #fff;
    position: fixed;
    box-shadow: 0px -1px 0.1px rgba(0, 0, 0, 0.1);
}

div.chat-bar-text-area {
    flex: 1;
    display: flex;
}

div.chat-bar-button {
    flex-basis: 55px;
}

div.chat-bar-splitter {
    flex-basis: 5px;
}

textarea.message-text-area {
    width: calc(100% - 10px);
    height: 42px;
    outline: 0;
    color: black;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #ccc;
    border-style: solid none solid solid;
    padding: 5px;
    text-align: start;
    font-family: 'SegoeUI';
    font-size:12pt;
    font-weight: normal;
    text-decoration: none;
    resize: none;
    margin: 0px 0px 0px 3px;
}

textarea.message-text-area:focus {
    outline: none !important;
    border-color: #fe9400;
}

div.emojis-button {
    width: 40px;
    height: 52px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-style: solid solid solid none;
    cursor: pointer;
}

div.emojis-menu {
    bottom: -230px;
    right: 10px;
    position: fixed;
    background-color: white;
    float: right;
    width: 230px;
    height: 250px;
    opacity: 0;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-height: calc(100vh - 70px);
}

div.emojis-group-top {
    width: 100%;
    height: calc(100% - 41px);
}

div.emojis-group-bottom {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-style: solid none none none
}

div.button-emojis-group {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    cursor: pointer;
}

p.button-emoji-content {
    margin: 0px;
    font-size:20px;
}

div.emoji-grid-group {
    display: grid;
    grid-template-columns: repeat(6,16.66667%);
    height: 200px;
    overflow-y: scroll;
    padding: 5px;
    font-size: 15pt;
}

a.emoji-button {
    background-color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

a.emoji-button:hover {
    background-color: #ddd;
}

div.button-chat {
    width: 50px;
    height: 50px;
    background-color: #fe9400;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.8s;
}

div.chat-content {
    position: fixed;
    height: auto;
    top: 60px;
    bottom: 60px;
    left: 0px;
    right: 0px;
    overflow-x: hidden;
    overflow-y:  scroll;
    background-color: #f3f4ef;
}

p.connect-disconnect-message {
    width: 250px;
    height: auto;
    font-family: 'SegoeUI';
    font-size:10pt;
    font-weight:bold;
    text-align:center;
    padding: 5px 10px;
    margin: 10px auto 10px auto;
    color: white;
    background-color: #7d7d7d;
    border-radius: 20px;
}

p.message-caller {
    display: table;
    max-width: 340px;
    height: auto;
    font-family: 'SegoeUI';
    font-size:11pt;
    font-weight:normal;
    text-align:start;
    padding: 15px;
    margin: 10px 10px 10px auto;
    color: black;
    background-color: #ffecd2;
    border-radius: 20px 20px 0px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffcd88;
    overflow: hidden;
}

p.message-stranger {
    display: table;
    max-width: 340px;
    height: auto;
    font-family: 'SegoeUI';
    font-size:11pt;
    font-weight:normal;
    text-align:start;
    padding: 15px;
    margin: 10px auto 10px 10px;
    color: black;
    background-color: #fff;
    border-radius: 20px 20px 20px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #d6d6d6;
    overflow: hidden;
}

p.text-is-typing {
    width: auto;
    font-family: 'SegoeUI';
    font-size: 10pt;
    font-weight:bold;
    text-align:left;
    vertical-align: top;
    line-height: 40px;
    margin: auto;
    display: initial;
    color:  #000;
}

div.leave-confirmation-background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    background-color: rgba(0,0,0, 0.7);
}

div.leave-confirmation-content {
    width: 400px;
    height: auto;
    text-align: center;
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 200px);
    background-color: white;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-height: calc(100vh - 70px);
    padding-bottom: 30px;
  }

  @media screen and (max-width: 410px) {
    div.leave-confirmation-content {
        width: calc(100% - 20px);
        left: 10px;
    }
}

p.about-header-text {
    font-family: 'SegoeUI-Light';
    font-size:20pt;
    font-weight:lighter;
    text-align:left;
    padding: 20px 20px 0px 20px;
    margin: 0px;
    color: black;
}

p.about-normal-text {
    font-family: 'SegoeUI';
    font-size:13pt;
    font-weight:normal;
    text-align:justify;
    padding: 0px 20px 20px 20px;
    margin: 0px;
    color: black;
}

div.image-ehsan {
    display:inline-block;
    margin-right: 15px;
    width: 180px;
    height: 180px;
    background-image: url("https://avatars1.githubusercontent.com/u/22881814?s=460&v=4");
    background-size: 180px 180px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #fe9400;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.contact {
    display: block;
}

div.button-contact {
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: #fe9400;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.8s;
}