div.typing {
    position: fixed;
    top: 45px;
    width: 200px;
    height: 55px;
    right: 0px;
    left: 0px;
    margin: 10px auto;
    display: flex;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.spinner-typing {
    margin: auto 0px auto 20px;
    width: 30px;
    text-align: center;
  }
  
  .spinner-typing > div {
    width: 10px;
    height: 10px;
    background-color: #fe9400;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner-typing .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner-typing .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }